aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    padding-left: 0;
    background-color: darkkhaki;
}
.main-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 10px;    
}
.brand {
    margin-left: 10px;
    width: 50px; 
    height: auto;
}
.main-brand {
    display: flex;
    flex-direction: row;  
}
.brand-io {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 10px;      
}
.main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;      
}
.main-link {
    font-size: 25px ;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgb(247, 248, 253);
    text-align: left;
    border: none;  
}
.plus {
    margin-left: 50px;
    color: rgb(111, 98, 174);   
}
.nav-list {
    display: flex;
    flex-direction: column;
}
.link { 
    font-size: 20px ;
    padding: 20px 20px;
    text-decoration: none;
    color: black;
} 
